body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Flamenco", cursive;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?auto=format&fit=crop&w=1951&q=80");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?auto=format&fit=crop&w=934&q=80");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("https://images.unsplash.com/photo-1492541641671-bd75cf01a094?auto=format&fit=crop&w=1950&q=80");
    min-height: 400px;
  }
  .bgimg-4 {
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?auto=format&fit=crop&w=2978&q=80");
    min-height: 400px;
  }
  .bgimg-5{
    background-image: url("https://images.unsplash.com/photo-1498753427761-548428edfa67?auto=format&fit=crop&w=2689&q=80");
    min-height: 100%;
  }
  .bgimg-6{
    background-image: url("https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?auto=format&fit=crop&w=1516&q=80");
    min-height: 400px;
  }
  .links a{
      margin: 10px;
      color: #ddd;
  }
  .links a:hover{
      text-decoration: none;
      text-shadow: 2px 2px 100px white;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color:rgb(128, 113, 113);
    color: #fff;
    padding: 18px;
    font-size: 35px;
    letter-spacing: 7px;
  }
  .caption span.border2 {
    background-color:rgb(143, 131, 131);
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: .05em;
  }
  .email{
    color:#fff;
    font-size:.5em;
    letter-spacing: 2px;
  }
  .email:hover{
    color: black;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Flamenco", cursive;
    color: #fff;
  }
  .thumbnail {
    position: relative;
    
  }
  .skills img{
      width:130px;
      height: 130px;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .thumbnail:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }
  .about-me {
    color:#ddd;
    background-color:rgb(143, 131, 131);
    text-align:center;
    padding:50px 40px;
    position:relative;
    font-size: 20px;
  }
  .resume-layout{
    background-color:rgb(143, 131, 131);
    text-align:center;
    padding:50px 10px;
    position:relative;
    margin-right: auto;
  }
  /* .grid-style{
    background-color:rgb(143, 131, 131);
    text-align:center;
    padding:50px 80px;
    position:relative;
    width: 100%;
  } */
  /* .thumbnail{
      height: 200px;
  }
  .thumbnail img{
      height: 190px;
  } */
  .link-style{
    font: 30px "Lato", sans-serif;
    color: rgb(231, 231, 163);
    text-align: center;
  }

  .work-experience-thumb{
    background: transparent;
    border:none;
}
.work-experience-thumb:hover .caption{
    display:inline-block;
    
}
.work-experience-thumb .caption{
    display:none;
}
.print{
    padding-right:5px;
}
.resume-thumb{
    padding-top: 170px;
    /* padding-left: 100px; */
}
.resume-thumb img{
    box-shadow: 0 0 200px black;
}
ul{
    list-style-type: none;
}
  .timeline{
    margin: 4em auto;
    position: relative;
    max-width: 46em;
}
/* Timeline line creation */
.timeline:before{
    background-color: #ddd;
    content:'';
    margin-left: 0px;
    position: absolute;
    top: 0;
    left: 2em;
    width:2px; 
    height:100%;
}

/* Position icons over timeline */
.timeline-event{
    position:relative; 
}
/* Hide Content */
.timeline-event-details{
    display:none;
}

/* hover function for icons */
.timeline-event:hover .timeline-event-icon{
    transform: rotate(-90deg);
    background-color:rgb(143, 131, 131);
    outline: 10px solid rgba(221, 221, 221, 0.404);
}

/* hover function for text-box */
.timeline-event:hover .timeline-event-thumbnail{
    box-shadow: inset 15em 0 0 0 white;
    color:black;
}
/* hover function to display content */
.timeline-event:hover .timeline-event-details{  
    display:inline-block; 
    color:#ddd;
  
}

/* position of entire timeline */
.timeline-event-repeated{
    padding:2em;
    position:relative;
    top: -1.875em;
    left: 0em;
    width: 80%; 
}

/* Timeline icon creation and positioning */
.timeline-event-icon{
    transition:  .75s ease-in;
    transform: rotate(45deg);
    background-color: #ddd;
    outline: 10px solid #04040430;
    display: block;
    margin: 1em 1em 1em -1em;
    position: absolute;
    top: -.5em;
    left: 0em;
    width: 1em;
    height: 1em;
}
/* timeline text-box creation and styles */
.timeline-event-thumbnail{
    transition: 0.5s linear;
    color: white;
    background-color:rgb(143, 131, 131);
    box-shadow: inset 0 0 0 0em black;
    display: inline-block;
    margin-bottom: 1 em;
    padding: .25em 1em .25em 1em;
}

.container{
    padding: 1em 0;
    float: left;
    width: 100%;
  }
  @media screen and (max-width: 640px){
    .container{
      display: block;
      width: 100%;
     
    }
    .email{
      font-size: .3em;
      padding-left: 5%;
    }
    .experience{
      padding-left: 5px;
    }
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 100%;
      
    }
  }
  
  .container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .content-details h4{
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .fadeIn-bottom{
    top: 80%;
  }
  .fadeIn-left{
    left: 20%;
  }
  .fadeIn-top{
    top: 20%;
  }
  .fadeIn-right{
    left: 80%;
  }